/* Author: Emily Couvillon
   Date Created: 3/5/2023
   Filename: homepage.css
   Description: A basic css sheet for homepage
   Update: 
*/

header {
    border-bottom: 1px black solid;
}

header > h1 {
    text-align: center;
}

div.btn-right {
    text-align: right;
}

div.btn-right > button {
    font-size: 25px;
}

nav {
    border: 1px black solid;
    text-align: center;
    height: auto;
}

nav > a {
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 30px;
}

div.map {
    border: 2px black solid;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    border-top: 1px black solid;
    text-align: center;
}